/* Conatct start */

#parent {
  display: flex;
}

.header-title {
  text-align: center;
  color: #00bfff;
  margin-left: 500px;
}

#tip {
  display: none;
}

.fadeIn {
  animation-duration: 3s;
}

.form-control {
  border-radius: 0px;
  border: 1px solid #ededed;
}

.form-control:focus {
  border: 1px solid #00bfff;
}

.textarea-contact {
  resize: none;
}

.btn-send {
  border-radius: 0px;
  border: 1px solid #00bfff;
  background: #00bfff;
  color: #fff;
}

.btn-send:hover {
  border: 1px solid #00bfff;
  background: #fff;
  color: #00bfff;
  transition: background 0.5s;
}

.second-portion {
  margin-top: 50px;
}

@import "//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";
@import "http://fonts.googleapis.com/css?family=Roboto:400,500";

.box > .icon {
  text-align: center;
  position: relative;
}
.box > .icon > .image {
  position: relative;
  z-index: 2;
  margin: auto;
  width: 88px;
  height: 88px;
  border: 8px solid white;
  line-height: 88px;
  border-radius: 50%;
  background: #00bfff;
  vertical-align: middle;
}
.box > .icon:hover > .image {
  background: #333;
}
.box > .icon > .image > i {
  font-size: 36px !important;
  color: #fff !important;
}
.box > .icon:hover > .image > i {
  color: white !important;
}
.box > .icon > .info {
  margin-top: -24px;
  background: rgba(0, 0, 0, 0.04);
  border: 1px solid #e0e0e0;
  padding: 15px 0 10px 0;
  min-height: 163px;
}
.box > .icon:hover > .info {
  background: rgba(0, 0, 0, 0.04);
  border-color: #e0e0e0;
  color: white;
}
.box > .icon > .info > h3.title {
  font-family: "Robot", sans-serif !important;
  font-size: 16px;
  color: #222;
  font-weight: 700;
  padding-top: 10px;
}
.box > .icon > .info > p {
  font-family: "Robot", sans-serif !important;
  font-size: 13px;
  color: #666;
  line-height: 1.5em;
  margin: 20px;
}
.box > .icon:hover > .info > h3.title,
.box > .icon:hover > .info > p,
.box > .icon:hover > .info > .more > a {
  color: #222;
}
.box > .icon > .info > .more a {
  font-family: "Robot", sans-serif !important;
  font-size: 12px;
  color: #222;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.box > .icon:hover > .info > .more > a {
  color: #fff;
  padding: 6px 8px;
  background-color: #5f3b12;
}
.box .space {
  height: 30px;
}

@media only screen and (max-width: 768px) {
  .contact-form {
    margin-top: 25px;
  }

  .btn-send {
    width: 100%;
    padding: 10px;
  }

  .second-portion {
    margin-top: 25px;
  }
}
/* Conatct end */

/* footer */

.site-footer {
  background-color: #26272b;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer a {
  color:white;
}
.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links a {
  color: hwb(300 75% 21%);
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  text-align: right;
}
.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
}
@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons a.facebook:hover {
  background-color: #3b5998;
}
.social-icons a.twitter:hover {
  background-color: #00aced;
}
.social-icons a.linkedin:hover {
  background-color: #007bb6;
}
.social-icons a.dribbble:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}

/* footer end */


.div1 {
  border: 2px solid rgba(53, 53, 250, 0.644);
  height: 45px;
  background-color: rgba(53, 53, 250, 0.685);
}
#nav1{
  z-index: 3;
  position: sticky;
  left: 0;
  top: 0;
}
.collapse {
  margin-left: 700px;
  font-weight: 500;
  text-align: right;
}

.carousel-indicator {
  margin-bottom: -300px;
  text-align: center;
}
.jumbotron {
  height: 500px;
  width: 500px;
}

#h1 {
  display: flex;
  align-items: center;
  padding-left: 45px;
  height: 50px;
  color: white;
}
.facebook{
  margin-left: 600px;
}
.twitter{
  margin-left: 20px;
}
.dribbble{
  margin-left: 20px;
}
.linkedin{
  margin-left: 20px;
}








